body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.used {
    background: #89C4F4;
}

.used.ship {
    background: #D91E18 !important;
}

.square {
/ / background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.Board {
    padding: 50px;
}

.thegame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ship {
    background: #2C3E50;
}

.icon-green {
    fill: #03C9A9 !important;
}

.icon-red {
    fill: #F64747 !important;
}

.icon-gray {
    fill: #95A5A6 !important;
}
.move-board {
    background: linear-gradient(-45deg, rgba(38, 194, 129, 0.16), rgba(35, 166, 213, 0.15), rgba(35, 213, 171, 0.15));
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}